.container-carrousel-img {
  overflow: hidden;
  height: 50vh;
  position: relative;
}

.container-carrousel-img img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  z-index: -1;
}

.container-carrousel-img .buttons {
  position: absolute;
  left: 25px;
  bottom: 20px;
  display: flex;
}

.container-carrousel-img .buttons button {
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
}

.container-carrousel-img .buttons button:first-child {
  margin-right: 15px;
  background: var(--primary);
  color: var(--black);
}

.container-carrousel-img .buttons button:last-child {
  background: var(--black);
  color: var(--primary);
  border: 1px solid var(--primary);
}

@media (max-width: 860px) {
  .container-carrousel-img .buttons {
    bottom: 50px;
  }
}

@media (max-width: 600px) {
  .container-carrousel-img .buttons button {
    padding: 10px 10px;
    font-size: 14px;
  }
}
