.movies-search {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

@media (max-width: 1024px) {
  .movies-search {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 940px) {
  .movies-search {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 690px) {
  .movies-search {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 499px) {
  .movies-search {
    grid-template-columns: 1fr;
  }
}
