.container-movies {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.container-movie {
  border-radius: 6px;
  overflow: hidden;
}

.container-movie img {
  width: 100%;
}
